@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#050816;
color:white;
overflow-x:hidden;
}


/* OCULTAR CURSOR NORMAL */
body{
    cursor:none;
}

/* PUNTO CENTRAL */
.cursor-dot{
    width:15px;
    height:15px;
    background:#60a5fa;
    border-radius:50%;
    position:fixed;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    pointer-events:none;
    z-index:9999;
    box-shadow:0 0 10px #60a5fa, 0 0 20px #3b82f6;
}

/* CÍRCULO GRANDE (ELASTIC + GLOW) */
.cursor-ring{
    width:40px;
    height:40px;
    border:2px solid rgba(96,165,250,0.6);
    border-radius:50%;
    position:fixed;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    pointer-events:none;
    z-index:9998;

    transition:0.15s ease-out;
    box-shadow:0 0 25px rgba(59,130,246,0.4);
}

/* EFECTO HOVER EN BOTONES */
a:hover ~ .cursor-ring,
button:hover ~ .cursor-ring{
    transform:translate(-50%, -50%) scale(1.5);
}



/* FONDOS ANIMADOS */

.background-blur{
position:fixed;
border-radius:50%;
filter:blur(120px);
z-index:-1;
}

.blur1{
width:400px;
height:400px;
background:#7c3aed;
top:-100px;
left:-100px;
animation:float 12s infinite alternate;
}

.blur2{
width:350px;
height:350px;
background:#2563eb;
right:-100px;
top:30%;
animation:float 10s infinite alternate;
}

.blur3{
width:300px;
height:300px;
background:#06b6d4;
bottom:-100px;
left:40%;
animation:float 14s infinite alternate;
}

@keyframes float{
from{
transform:translateY(0px);
}
to{
transform:translateY(80px);
}
}

/* HERO */

.hero{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:40px;
}

.hero-content{
text-align:center;
max-width:900px;
}

.tag{
display:inline-block;
padding:10px 18px;
border:1px solid rgba(255,255,255,.15);
border-radius:50px;
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
color: white;
text-decoration: none;
}



.hero h1{
margin-top:20px;
font-size:6rem;
font-weight:800;
background:linear-gradient(90deg,#ffffff,#8b5cf6,#3b82f6);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.price-card{
margin-top:40px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.1);
padding:40px;
border-radius:30px;
}

.price-card h2{
font-size:5rem;
color:#60a5fa;
}

.price-card p{
margin-top:10px;
color:#cbd5e1;
}

/* SECCIONES */

section{
padding:100px 10%;
}

.section-title {

    text-align: center;      
}

section h2{
font-size:3rem;
margin-bottom:25px;
}

.section-incluid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}

.section-incluid div{
    background:rgba(255,255,255,.05);
    padding:25px;
    border-radius:18px;
    border:1px solid rgba(255,255,255,.08);
}

.intro{
text-align:center;
}

.intro p{
max-width:700px;
margin:auto;
color:#94a3b8;
line-height:1.8;
}

/* FEATURES */

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.feature-card{
background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.08);
backdrop-filter:blur(20px);
padding:35px;
border-radius:25px;
transition:.4s;
}

.feature-card:hover{
transform:translateY(-10px);
border-color:#8b5cf6;
}

.icon{
font-size:2.5rem;
margin-bottom:15px;
}

.feature-card h3{
margin-bottom:12px;
}

.feature-card p{
color:#94a3b8;
}

/* INCLUIDO */

.warning-card h2{

    align-items: center;

}

.grid-included{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.grid-included div{
background:rgba(255,255,255,.05);
padding:25px;
border-radius:18px;
border:1px solid rgba(255,255,255,.08);
}

/* NO INCLUYE */


.warning-card h2{

    align-items: center;

}


.warning-card{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}
.warning-no-card{

    background:rgba(255,255,255,.05);
    padding:25px;
    border-radius:18px;
    border:1px solid rgba(255,255,255,.08);


}

/* ENTREGA */

.delivery-card{
text-align:center;
padding:60px;
border-radius:30px;
background:linear-gradient(
135deg,
rgba(124,58,237,.25),
rgba(59,130,246,.25)
);
}

.delivery-card h3{
font-size:3rem;
margin-top:15px;
}

/* CTA */

.cta-card{
text-align:center;
background:rgba(255,255,255,.05);
border-radius:35px;
padding:70px;
}

.cta-card p{
margin:20px auto;
max-width:700px;
color:#94a3b8;
}

.cta-btn{
display:inline-block;
margin-top:25px;
padding:16px 35px;
border-radius:50px;
text-decoration:none;
color:white;
background:linear-gradient(90deg,#7c3aed,#2563eb);
transition:.4s;
}

.cta-btn:hover{
transform:translateY(-5px);
}

.reveal{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}
